.login {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: brown;
  justify-content: center;
  align-items: center;
}

.login-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 700px;
  background-color: rgb(24, 24, 24);
  border-radius: 15px;
}

label {
  display: none;
}

.login-form input {
  margin: 20px;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

a {
  text-align: center;
}

#email,
#password {
  width: 70%;
}

.login-button {
  width: 50%;
}

/* $white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2; */

.register-user {
  background-color: #4285f4;
  margin: 10px auto;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.register-user:hover {
  background-color: blueviolet;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 10px auto;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: white;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
/* &:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  &:active {
    background: #1669f2;
  } */

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

/* .first,
.second {
  z-index: 1;
  position: absolute;
  height: 500px;
  width: 500px;
  background-color: aqua;
  transform: rotate(45deg);
} */
