.flex-container {
  display: flex;
}

* {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(24, 24, 24);
  color: white;
}

a {
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  color: black;
}

footer {
  background-color: brown;
  justify-content: center;
}

footer > a {
  margin: 10px;
  padding: 10px;
  font-size: 25px;
}

footer > a:hover {
  transform: scale(1.2);
}
